.wrapper-video {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main-video {
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-top: 15px;
}

.videoWrapper {
    flex: 2;
}

.suggestions {
    flex: 1;
}

.iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.title-video {
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
}

.channel-video {
    width: 100px;
    height: 100px;
    align-items: center;
}

.channelImage {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.suggested-video {
    display: flex;
    margin-top: 10px;
    margin: 8px;
}

.suggestion-image {
    width: 60%;
}

.suggestion-image>img {
    border-radius: 3%;
}

.video-info>p {
    margin-top: 2px;
}

.video-info-title {
    font-weight: bolder;
}

.video-sug-title {
    font-size: 14px;
    font-weight: bold;
}

.channelInfo {
    display: flex;
    flex-direction: column;
}

.channel-video {
    display: flex;
    flex-direction: row;
}

.channelWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.description {
    background-color: rgba(128, 128, 128, 0.132);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.channelButton {
    padding: 10px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border: 1px solid grey;
    margin: 5px;
    border-radius: 20px;
    margin-left: 10px;
    color: white;
}

.channelButtonLite {
    width: 120px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    margin: 5px;
    border-radius: 30px;
    margin-left: 10px;
}